.update-popup-overlay {
    position: absolute;
    z-index: 9999;
    background-color: rgb(65, 65, 65);
    width: 326px;
    height: 490px;
    border-radius: 20px;
    border: 3px solid #2a5c85;
  }
  
  .update-popup-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    height: 100%;
    margin-left: 12px;
  }

  .update-popup-content h2{
    font-family: "Coustard", serif;
    margin: 5px;
  }

  .p-error-message{
    color: #be3131;
    font-size: small;
    font-weight: bold;
    font-family: "Coustard", serif;  
    margin: 0;
}

  form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 85%;    
    width: 100%;
  }


  .div-input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }


  .div-input label{
    font-family: "Coustard", serif;
  }

  .div-input input, textarea, select{
    width: 100%;
  }

  .div-input input, select{
    height: 20px;
    border-radius: 20px;
    border: none;
  }

  .div-input-textarea{
    height: 88px;
  }

  .div-input textarea{
    resize: vertical;
    max-height: 60px;
    min-height: 40px;
    height: 80px;
  }

  .div-input-rating label{
    display: flex;
    justify-content: center;
    font-family: "Coustard", serif;
  }

  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: rgb(235, 235, 46);
    transition: color 0.3s;
  }

  .action-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .action-buttons button {
    border: none;
    background-color: transparent;
    font-size: larger;
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease;
  }
 
  .action-buttons .close-svg-icon {
    stroke: currentColor;
    stroke-width: 1.5;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
 
  .close-svg-icon:hover {
    color: black;
    transform: scale(1.2);
  }

  .icon-path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .action-buttons .update-svg-icon {
    stroke: currentColor;
    stroke-width: 1.5;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
 
  .update-svg-icon:hover {
    color: rgb(233, 233, 36);
    transform: scale(1.2);
  }