.default-background {
  background-color: #274156;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-background {
  background-image: url('./assets/backgrounds/movies.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}